div{
    height:650px;
    width:400px;
    background-color: White;
    text-align: center;
    color:white;
    background-color: black;
    margin: auto;
    border-radius: 2%;
}
body{
    background-image: url("mountains.webp");
    background-size: cover;
}
.login{
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.input1{
    font-size:18px;
    text-align: center;
    height:50px;
    width: 70%;
    border-radius: 100px;
    border: 3px solid gold;
    cursor:pointer;
    color: darkgreen;
}
.input2{
    font-size:18px;
    text-align: center;
    height:50px;
    width: 70%;
    border-radius: 100px;
    border: 3px solid gold;
    cursor: pointer;
    color: darkgreen;
}
.button{
    height: 40px;
    width:40%;
    border-radius: 100px;
    font-size: large;
    background-color: #30305b;
    color:white;
    cursor:pointer;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4); /* More pronounced shadow on hover */
}
.button:hover {
    background-color: #7979bf;
    color: black;
    
    /*box-shadow: 0 4px 8px rgba(244, 239, 239, 0.2);*/ /* Initial shadow for a 3D effect */
    transition: 0.3s ease all;
    transform: scale(1.1); /* Scale the image to 110% */
}
.para2{
    text-align: right;
    margin-right: 30px;
}
span{
    color:blueviolet;
}
.cross{
    text-align: right;
    margin-right: 10px;
}
img{
    height:25px;
    width:25px;
    margin-bottom: 2px;
}
.imx{
    height:60px;
    width:60px;
}
