body {
    background-image: url("mountains.webp");
    background-size: cover;
    transition: background-color 0.3s ease;
}

body.dark {
    background-color: #121212;
    color: #ffffff;
}

.container {
    height: 650px;
    width: 400px;
    margin: auto;
    border-radius: 2%;
    text-align: center;
    transition: background-color 0.3s ease, opacity 0.3s ease; 
}

.container.dark {
    background-color: black; 
    color: white; 
}

body.light {
    background-color: #ffffff;
    color: #000000;
}

.container.light {
    background-color: white; 
}

.login {
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.input1, .input2 {
    font-size: 18px;
    text-align: center;
    height: 50px;
    width: 70%;
    border-radius: 100px;
    border: 3px solid gold;
    cursor: pointer;
    color: darkgreen;
}

.button {
    height: 40px;
    width: 40%;
    border-radius: 100px;
    font-size: large;
    background-color: blue;
    color: wheat;
    cursor: pointer;
}

.para2 {
    text-align: right;
    margin-right: 30px;
}

span {
    color: blueviolet;
}

.cross {
    text-align: right;
    margin-right: 10px;
}

img {
    height: 25px;
    width: 25px;
    margin-bottom: 2px;
}

/* Theme switch styles */
.theme-switch {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
}
.theme-switch input {
    display: none;
}
.slider {
    cursor: pointer;
    height: 24px;
    width: 48px;
    background-color: #ccc;
    border-radius: 50px;
    position: relative;
    transition: background-color 0.3s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
}
input:checked + .slider {
    background-color: #4CAF50;
}
input:checked + .slider:before {
    transform: translateX(24px);
}
